alembic==1.13.0
ansi2html==1.8.0
astor==0.8.1
autograd==1.6.2
autograd-gamma==0.5.0
bottle==0.12.25
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
cmdstanpy==1.2.0
colorlog==6.8.0
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.6
dash==2.13.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-design-kit==0.0.1
dash-html-components==2.0.0
dash-table==5.0.0
dill==0.3.7
distlib==0.3.7
factor-analyzer==0.5.0
filelock==3.13.1
Flask==2.2.5
fonttools==4.42.1
formulaic==0.6.6
future==0.18.3
graphviz==0.20.1
gunicorn==21.2.0
holidays==0.38
identify==2.5.32
idna==3.4
igraph==0.11.3
importlib-resources==6.1.1
interface-meta==1.3.0
itsdangerous==2.1.2
Janome==0.5.0
Jinja2==3.1.2
joblib==1.3.2
jpholiday==0.1.8
kiwisolver==1.4.5
lifelines==0.27.8
Lifetimes==0.11.3
lingam==1.8.2
Mako==1.3.0
MarkupSafe==2.1.3
matplotlib==3.7.2
nest-asyncio==1.5.8
networkx==3.2.1
nodeenv==1.8.0
numpy==1.25.2
optuna==3.4.0
packaging==23.1
pandas==2.0.3
patsy==0.5.3
Pillow==10.0.0
platformdirs==4.1.0
plotly==5.17.0
pmdarima==2.0.4
pre-commit==3.5.0
progressbar2==4.2.0
prophet==1.1.5
proxy-tools==0.1.0
psy==0.0.1
ptitprince==0.2.7
pygam==0.9.0
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Security==10.0
pyobjc-framework-WebKit==10.0
pyparsing==3.0.9
python-dateutil==3.10.13
python-igraph==0.11.3
python-utils==3.10.13
pytz==2023.3
pywebview==4.4
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.11.0
six==1.16.0
SQLAlchemy==2.0.23
squarify==0.4.3
stanio==0.3.0
statsmodels==0.14.0
tbats==1.1.3
tenacity==8.2.3
texttable==1.7.0
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
virtualenv==20.25.0
Werkzeug==2.2.3
wordcloud==1.9.2
wrapt==1.16.0
xgboost==2.0.0
